<!--For Page-->
<div class="page">
  <h1><strong><a class="page-title">Foods </a></strong></h1> <!-- Card Description-->

  <!--For Row containing all card-->
  <div class="row">
      <!--Card 1-->
      <div class="col-sm">
          <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
              <!--Card image-->
              <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="../../../assets/images/tonic.jpg" alt=""> <a>
                      <div class="mask rgba-white-slight"></div>
                  </a> </div>
              <!--Card Body-->
              <div class="card-body card-body-cascade text-center">
                  <!--Card Title-->
                  <h4 class="card-title"><strong><a href="">Kennel Kitchen </a></strong></h4> <!-- Card Description-->
                  <!-- <p class="card-text">Kennel Kitchen Supreme Cuts in Gravy, Chicken Liver with Pumpkin, 100g (Pack of 12). Wet Dog Food for Adult and Puppy </p> -->
                  <p class="price">€635.00</p> <!-- Card Rating-->
                  <ul class="row rating">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                  </ul>
                  <!--Card footer-->
                  <div style="display: flex;">
                    <div style="width: 125px;">
                    <label for="cars">Quantity:</label>
                    <select name="cars" id="cars">
                      <option value="volvo">1</option>
                      <option value="saab">2</option>
                      <option value="mercedes">3</option>
                      <option value="audi">4</option>
                      <option value="audi">5</option>

                    </select>
                  </div>
                  <div style="width: 125px;">
                    <button class="btn-add">ADD TO CART</button>
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <!--Card 2-->
      <div class="col-sm">
          <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
              <!--Card image-->
              <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="../../../assets/images/tonic.jpg"  alt=""> <a>
                      <div class="mask rgba-white-slight"></div>
                  </a> </div>
              <!--Card Body-->
              <div class="card-body card-body-cascade text-center">
                  <!--Card Title-->
                  <h4 class="card-title"><strong><a href="">Velcote Liquid</a></strong></h4>
                  <!--Card Description-->
                  <!-- <p class="card-text">Velcote Liquid for Healthy Skin, Shiny and Lustrous Coat for Dogs,Puppies, Cats and Kittens, 250ml </p> -->
                  <p class="price">€318.00 </p> <!-- Card Rating-->
                  <ul class="row rating">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                  </ul>
                  <!--Card footer-->
                  <div style="display: flex;">
                    <div style="width: 125px;">
                    <label for="cars">Quantity:</label>
                    <select name="cars" id="cars">
                      <option value="volvo">1</option>
                      <option value="saab">2</option>
                      <option value="mercedes">3</option>
                      <option value="audi">4</option>
                      <option value="audi">5</option>

                    </select>
                  </div>
                  <div style="width: 125px;">
                    <button class="btn-add">ADD TO CART</button>
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <!--Card 3-->
      <div class="col-sm">
          <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
              <!--Card image-->
              <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="../../../assets/images/tonic.jpg" alt=""> <a>
                      <div class="mask rgba-white-slight"></div>
                  </a> </div>
              <!--Card Body-->
              <div class="card-body card-body-cascade text-center">
                  <!--Card Title-->
                  <h4 class="card-title"><strong><a href="">Pedigree PRO</a></strong></h4>
                  <!--Description-->
                  <!-- <p class="card-text">Pedigree PRO Expert Nutrition Large Breed Puppy (3-18 Months), Dry Dog Food, 3kg Pack </p> -->
                  <p class="price">€923.00</p> <!-- Card Rating-->
                  <ul class="row rating">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                  </ul>
                  <!--Card footer-->
                  <div style="display: flex;">
                    <div style="width: 125px;">
                    <label for="cars">Quantity:</label>
                    <select name="cars" id="cars">
                      <option value="volvo">1</option>
                      <option value="saab">2</option>
                      <option value="mercedes">3</option>
                      <option value="audi">4</option>
                      <option value="audi">5</option>

                    </select>
                  </div>
                  <div style="width: 125px;">
                    <button class="btn-add">ADD TO CART</button>
                  </div>
                  </div>
              </div>
          </div>
      </div>
       <!--Card 4-->
       <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <!--Card image-->
            <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="../../../assets/images/tonic.jpg"  alt=""> <a>
                    <div class="mask rgba-white-slight"></div>
                </a> </div>
            <!--Card Body-->
            <div class="card-body card-body-cascade text-center">
                <!--Card Title-->
                <h4 class="card-title"><strong><a href="">Velcote Liquid</a></strong></h4>
                <!--Card Description-->
                <!-- <p class="card-text">Velcote Liquid for Healthy Skin, Shiny and Lustrous Coat for Dogs,Puppies, Cats and Kittens, 250ml </p> -->
                <p class="price">€318.00 </p> <!-- Card Rating-->
                <ul class="row rating">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <!--Card footer-->
                <div style="display: flex;">
                  <div style="width: 125px;">
                  <label for="cars">Quantity:</label>
                  <select name="cars" id="cars">
                    <option value="volvo">1</option>
                    <option value="saab">2</option>
                    <option value="mercedes">3</option>
                    <option value="audi">4</option>
                    <option value="audi">5</option>

                  </select>
                </div>
                <div style="width: 125px;">
                  <button class="btn-add">ADD TO CART</button>
                </div>
                </div>
            </div>
        </div>
    </div>
     <!--Card 5-->
     
  </div>
</div>
<!------------------>
<!--For Page-->
<div class="page">
  <h1><strong><a class="page-title">Treats </a></strong></h1> <!-- Card Description-->

  <!--For Row containing all card-->
  <div class="row">
      <!--Card 1-->
      <div class="col-sm">
          <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
              <!--Card image-->
              <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="../../../assets/images/tonic.jpg" alt=""> <a>
                      <div class="mask rgba-white-slight"></div>
                  </a> </div>
              <!--Card Body-->
              <div class="card-body card-body-cascade text-center">
                  <!--Card Title-->
                  <h4 class="card-title"><strong><a href="">Kennel Kitchen </a></strong></h4> <!-- Card Description-->
                  <!-- <p class="card-text">Kennel Kitchen Supreme Cuts in Gravy, Chicken Liver with Pumpkin, 100g (Pack of 12). Wet Dog Food for Adult and Puppy </p> -->
                  <p class="price">€635.00</p> <!-- Card Rating-->
                  <ul class="row rating">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                  </ul>
                  <!--Card footer-->
                  <div style="display: flex;">
                    <div style="width: 125px;">
                    <label for="cars">Quantity:</label>
                    <select name="cars" id="cars">
                      <option value="volvo">1</option>
                      <option value="saab">2</option>
                      <option value="mercedes">3</option>
                      <option value="audi">4</option>
                      <option value="audi">5</option>

                    </select>
                  </div>
                  <div style="width: 125px;">
                    <button class="btn-add">ADD TO CART</button>
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <!--Card 2-->
      <div class="col-sm">
          <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
              <!--Card image-->
              <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="../../../assets/images/tonic.jpg"  alt=""> <a>
                      <div class="mask rgba-white-slight"></div>
                  </a> </div>
              <!--Card Body-->
              <div class="card-body card-body-cascade text-center">
                  <!--Card Title-->
                  <h4 class="card-title"><strong><a href="">Velcote Liquid</a></strong></h4>
                  <!--Card Description-->
                  <!-- <p class="card-text">Velcote Liquid for Healthy Skin, Shiny and Lustrous Coat for Dogs,Puppies, Cats and Kittens, 250ml </p> -->
                  <p class="price">€318.00 </p> <!-- Card Rating-->
                  <ul class="row rating">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                  </ul>
                  <!--Card footer-->
                  <div style="display: flex;">
                    <div style="width: 125px;">
                    <label for="cars">Quantity:</label>
                    <select name="cars" id="cars">
                      <option value="volvo">1</option>
                      <option value="saab">2</option>
                      <option value="mercedes">3</option>
                      <option value="audi">4</option>
                      <option value="audi">5</option>

                    </select>
                  </div>
                  <div style="width: 125px;">
                    <button class="btn-add">ADD TO CART</button>
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <!--Card 3-->
      <div class="col-sm">
          <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
              <!--Card image-->
              <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="../../../assets/images/tonic.jpg" alt=""> <a>
                      <div class="mask rgba-white-slight"></div>
                  </a> </div>
              <!--Card Body-->
              <div class="card-body card-body-cascade text-center">
                  <!--Card Title-->
                  <h4 class="card-title"><strong><a href="">Pedigree PRO</a></strong></h4>
                  <!--Description-->
                  <!-- <p class="card-text">Pedigree PRO Expert Nutrition Large Breed Puppy (3-18 Months), Dry Dog Food, 3kg Pack </p> -->
                  <p class="price">€923.00</p> <!-- Card Rating-->
                  <ul class="row rating">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                  </ul>
                  <!--Card footer-->
                  <div style="display: flex;">
                    <div style="width: 125px;">
                    <label for="cars">Quantity:</label>
                    <select name="cars" id="cars">
                      <option value="volvo">1</option>
                      <option value="saab">2</option>
                      <option value="mercedes">3</option>
                      <option value="audi">4</option>
                      <option value="audi">5</option>

                    </select>
                  </div>
                  <div style="width: 125px;">
                    <button class="btn-add">ADD TO CART</button>
                  </div>
                  </div>
              </div>
          </div>
      </div>
       <!--Card 4-->
       <div class="col-sm">
        <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
            <!--Card image-->
            <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="../../../assets/images/tonic.jpg"  alt=""> <a>
                    <div class="mask rgba-white-slight"></div>
                </a> </div>
            <!--Card Body-->
            <div class="card-body card-body-cascade text-center">
                <!--Card Title-->
                <h4 class="card-title"><strong><a href="">Velcote Liquid</a></strong></h4>
                <!--Card Description-->
                <!-- <p class="card-text">Velcote Liquid for Healthy Skin, Shiny and Lustrous Coat for Dogs,Puppies, Cats and Kittens, 250ml </p> -->
                <p class="price">€318.00 </p> <!-- Card Rating-->
                <ul class="row rating">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <!--Card footer-->
                <div style="display: flex;">
                  <div style="width: 125px;">
                  <label for="cars">Quantity:</label>
                  <select name="cars" id="cars">
                    <option value="volvo">1</option>
                    <option value="saab">2</option>
                    <option value="mercedes">3</option>
                    <option value="audi">4</option>
                    <option value="audi">5</option>

                  </select>
                </div>
                <div style="width: 125px;">
                  <button class="btn-add">ADD TO CART</button>
                </div>
                </div>
            </div>
        </div>
    </div>
     <!--Card 5-->
     
  </div>
</div>