<!--For Page-->
<div class="page">
  <h1><strong><a class="page-title">Foods / Treats</a></strong></h1> <!-- Card Description-->

  <!--For Row containing all card-->
  <div class="row">
      <!--Card 1-->
      <div class="col-sm-6" *ngFor="let boat of product1; let i =index" >
          <div class="card card-cascade card-ecommerce wider shadow mb-5">
              <!--Card image-->
              <div class="view view-cascade overlay text-center"> <img id="img-1" class="card-img-top" [src]="boat.image" alt="" width="200" height="250"> <a>
                      <div class="mask rgba-white-slight"></div>
                  </a> </div>
              <!--Card Body-->
              <div class="card-body card-body-cascade text-center">
                  <!--Card Title-->
                  <h4  id="title1" class="card-title"><strong><a href="">{{boat.name}} </a></strong></h4> <!-- Card Description-->
                  <!-- <p class="card-text">Kennel Kitchen Supreme Cuts in Gravy, Chicken Liver with Pumpkin, 100g (Pack of 12). Wet Dog Food for Adult and Puppy </p> -->
                  <p  id="amount1" class="price">€{{boat.amount}}</p> <!-- Card Rating-->
                 
                  <!--Card footer-->
                  <div style="display: flex;">
                    <div style="width: 125px;">
                    <label id="lbl1" for="cars">Quantity:</label>
                    <!-- <select name="cars" id="cars" (change)="myFunction($event)">
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select> -->
                    <select (change)="myFunction($event)" >
                      <option *ngFor="let c of quantity" [ngValue]="c.id">{{c.id}}</option>
                    </select>
                  </div>
                  <div style="width: 125px;">
                    <button id="btn-1" class="btn-add" (click)="addtoCart(boat)">ADD TO CART</button>
                  </div>
                  </div>
              </div>
          </div>
      </div><br>
      
  </div>
  </div>
  <div class="page">
  <div class="row">
  <div style="display: fl;" class="col-sm-6" *ngFor="let boat of product2; let i =index" >
    <div  class="card card-cascade card-ecommerce wider shadow mb-5">
        <!--Card image-->
        <div class="view view-cascade overlay text-center"> <img id="img-2" class="card-img-top" [src]="boat.image" alt="" width="200" height="250"> <a>
                <div class="mask rgba-white-slight"></div>
            </a> </div>
        <!--Card Body-->
        <div class="card-body card-body-cascade text-center">
            <!--Card Title-->
            <h4 id="title2" class="card-title"><strong><a href="">{{boat.name}} </a></strong></h4> <!-- Card Description-->
            <!-- <p class="card-text">Kennel Kitchen Supreme Cuts in Gravy, Chicken Liver with Pumpkin, 100g (Pack of 12). Wet Dog Food for Adult and Puppy </p> -->
            <p  id="amount2"  class="price">€{{boat.amount}}</p> <!-- Card Rating-->
          
            <!--Card footer-->
            <div style="display: flex;">
              <div style="width: 125px;">
              <label id="lbl2" for="cars">Quantity:</label>
              <select name="cars" id="cars">
                <option value="volvo">1</option>
                <option value="saab">2</option>
                <option value="mercedes">3</option>
                <option value="audi">4</option>
                <option value="audi">5</option>

              </select>
            </div>
            <div style="width: 125px;">
              <button id="btn-2" class="btn-add" (click)="addtoCart(boat)">ADD TO CART</button>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>