<div style="float: right; position: relative; margin-top: -57%; width: 30%;height: 152px; margin-right:9%">
  <div><strong><b class="page-title"> Order Summary </b></strong></div>
  <div class="order-summary">
    <table>
      <tr>
        <td> Items(4) </td>
        <td> $199, 96 </td>
      </tr>
      <tr>
        <td>Est Tax: </td>
        <td>Calculated at checkout </td>
      </tr>
      <tr>
        <td>Total: </td>
        <td> $199,96 </td>
      </tr>
    </table>
    <button class="btn-primary">Start Checkout</button>
  </div>

</div>
