<!-- <div style="float: right;     position: fixed;margin-top: -871px;; width: 30%;height: 152px; margin-left:66%"> -->
  <div>
  <div style="text-align: center;width: 100%;    margin: 25px 0 0 0;"><strong><b class="page-title"> Order Summary </b></strong></div>
  <div class="order-summary">
    <table cellpadding="10" style="width: 100%;">
      <tr>
        <td> Items({{productlength}}) </td>
        <td> €{{totalAmount}} </td>
      </tr>
      <tr>
        <td>Est Tax: </td>
        <td>Calculated at checkout </td>
      </tr>
      <tr>
        <td><b>Total:</b> </td>
        <td><b>€{{totalAmount}} </b> </td>
      </tr>
    </table>
    <div style="display: flex;">
    <button class="btn-primary">Start Checkout</button>
    <button class="btn-primary" (click)="clearCart()">Clear Cart</button>
  </div>
  </div>

</div>
